body a {color: #000}
.header { margin-bottom:10px}
.header .toppest_spot {
	height:100px;
	position:relative;
}
.header .toppest_spot .logo_spot {
	position:absolute;
	bottom:15px;
}
.header .toppest_spot .logo_spot h1 {
	line-height:32px;
	font-size: 32px;
	margin:0px;
	padding:0px;
	font-family:Myriad Pro;
	font-weight:normal;
}
.header .toppest_spot .resource_spot{
	position:absolute;
	bottom:15px;
	right:0px;
}
.header .navigation {
	height:30px;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
}
.header .navigation .main_menu {
	
}
.header .navigation .main_menu ul {
	padding:0px;
	margin:0px;
}
.header .navigation .main_menu ul li { 
	line-height:30px; 
	height:30px;
}
.header .navigation .main_menu ul li a {
	display:block;
	padding:0px 10px;
	text-decoration: none;
	color:#000;
	font-size:14px;
	font-family:Myriad Pro;
}
.header .navigation .main_menu ul li a:hover {
	background:#f7f7f7;
}
.header .navigation .search_mod {}
.header .navigation .search_mod input[type="text"] { 
	color:#000; 
	border:none;
	font-size:14px;
	font-family:Myriad Pro;
	height: 30px; 
	width:200px; 
	line-height:30px; 
	padding:0px;
	}
.main_comp { margin-bottom:15px; min-height:300px; }
.main_comp .main_inner_fullWidth {}

.resource_bottom {
	margin-bottom:5px;
}
.resource_bottom .resource_right .front_resource_menu {
	padding-left:10px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.resource_bottom .resource_right .front_resource_menu ul {
	padding:0px;
	margin:0px;
	list-style: none;
}
.resource_bottom .resource_right .front_resource_menu ul li {
	margin :0px;
	width:50%;
	float: right;
	text-align: right;
}
.resource_bottom .resource_right .front_resource_menu ul li a {
	color:#000;
	text-decoration: none;
}
.resource_bottom .resource_right .front_resource_menu ul li:last-clid:after{
	clear:both;
	
}
.resource_bottom .resource_right {
	border-left:1px solid #ccc;
	padding-bottom:15px;
}
.resource_bottom .resource_right .news_letter_form {
	border-top:1px solid #ccc;
	padding-left:10px;
}
.resource_bottom .resource_right .news_letter_form p {
	margin:0px;
	font-size:11px;
}
.resource_bottom .resource_right .news_letter_form form .form_spot {
	padding:2px;
	border:1px solid #ccc;
	margin-top:15px;
}
.resource_bottom .resource_right .news_letter_form form input.required{
	border:none;
	padding:0px;
	margin:0px;
	height:25px;
	width:170px;
	padding:0px 10px;
}
.resource_bottom .resource_right .news_letter_form form .trigger {
	border:none;
	background:cfcfcf;
	height:25px;
	padding:0px 10px;
	color:#343434;
	text-shadow:0 1px 0 #fff;
	float:right;
}
.footer .closing_spot{
	font-size:11px;
		border-top:1px solid #ccc;
}
.footer .closing_spot .bottom_menu ul li {
	border-left:1px solid #ccc ;
}
.footer .closing_spot .bottom_menu ul li a {
	display:block;
	padding:0px 5px;
	color:#000;
	text-decoration: none;
}
/** MISC **/
ul.menu_hor li {
	float:left !important;
	list-style: none !important;
	/* RESET THE MARGIN */
	margin:0px !important;
}
ul.horizontal li {
	float:left !important;
	list-style: none !important;
	/* RESET THE MARGIN */
	margin:0px !important;
}
/** FONT TYPO CLASS **/
.font_myriad { font-family: Myriad Pro;}

/* WIDGET FRONT CSS */
.viewCartWidget p {margin:0px; padding:0px}
