/**
Author : Zidni Mubarock
Url    : http://barockprojects.com
Email  : zidmubarock@gmail.com
file name : main_style.css


Color Code
+++ = #7b7979;
++  = #c1c1c1;
+   = #b2b2b2;
ungu = EB6BF2;

**/
/** MISC Design Utility **/

.def_grad {  background-image: -moz-linear-gradient(-90deg, #059a9f , #058b9b );
background-image: -webkit-gradient(linear, 0 top, 0 bottom, from( #059a9f ), to( #058b9b ));
}


.backend { background:#efefef;}
.mainGrid { background:#fff; padding:10px 15px; -webkit-box-shadow: 0 1px 7px #CCCCCC;
   -moz-box-shadow: 0 1px 7px #CCCCCC;
     -o-box-shadow: 0 1px 7px #CCCCCC;
        box-shadow: 0 1px 7px #CCCCCC; margin-bottom:50px;}
/* Main Layering
----------------------------------------------------------------------------------------------------*/
.header {border-bottom:1px solid #c1c1c1; margin-top:20px; margin-bottom:10px}
.mainWrap { min-height:300px;}
.footerWrap { border-top:1px solid #c1c1c1; margin-bottom:30px; font-size:11px; padding-top:5px; margin-top:10px;}
.navigation { height:30px; background-color: #000; color: #fff; padding-top:5px; background-image: -moz-linear-gradient(-90deg, #059a9f , #058b9b );
background-image: -webkit-gradient(linear, 0 top, 0 bottom, from( #059a9f ), to( #058b9b ));
}
.navigation a { color: #000; text-shadow: 0 1px 0 #058b9b;}
/* Inside Main Layering
-----------------------*/
.header .logoText {color :#058b9b;margin-bottom:10px; font-size:26px; letter-spacing:-2px; height:30px}
.header .topMenu { bottom:0px; right:0px;}
.header .topMenu ul { margin:0; padding:0px;}
.header .topMenu ul li { float:left; list-style: none;}
.header .topMenu ul li a { display:block; padding:5px 15px 15px 15px; -moz-border-radius-topleft:3px; -moz-border-radius-topright:3px;border-radius-topleft:3px; border-radius-topright:3px;}
.header .topMenu ul li ul { position:absolute; margin-left:-15px; display: none; list-style:none;}
.header .topMenu ul li:hover ul { display:inherit;}
.header .topMenu ul li a:hover { background:#e4e4e4; text-shadow:0 1px 0 #fff; color:#666666;}
.pageTitle{ font-size:24px; margin:0px; text-transform:capitalize;}
.navigation .inner {position: relative;z-index:2;bottom:-1px}
.navigation .inner .topMenu ul { padding:0px; margin:0px; list-style:none;}
.navigation .inner .topMenu ul li {padding-left:0px; float :left; margin-left:0px; line-height:30px; height:30px; font-weight:normal;}
.navigation .inner .topMenu ul li a { display:block; padding:0px 10px; color: #fff;text-decoration:none; text-shadow:0 1px 0 #058b9b;}
.navigation .inner .topMenu ul ul {display:none;}
.navigation .inner .topMenu ul li a:hover, .navigation .inner .topMenu ul li a.current_link{ background-color: #fff; color: #058b9b; text-shadow:none;}
.header .pageMenu { bottom:0px; right:0px;}
.header .pageMenu ul {padding:0px;margin:0px }
.header .pageMenu li { list-style: none; float:left; margin:0px 0px 0px 5px; }
.header .pageMenu a {display:block;padding: 5px;-moz-border-radius-topleft:3px; -moz-border-radius-topright:3px;border-radius-topleft:3px; border-radius-topright:3px; background:#ccc; }

/* Widget
----------------------------------------------------------------------------------------------------*/
.backUserWid{-moz-border-radius-bottomleft:3px;-moz-border-radius-bottomright:3px;font-weight:normal;	}
.backUserWid .u_image { margin-right:10px;}
.backUserWid .u_image img { border:1px solid #FFFFFF; height:25px;}
.backUserWid span{ text-shadow:0 1px 0 #fff;}
.backUserWid a {text-shadow:0 1px 0 #fff; }

.main_statistic_widget .item {float:left; border-right:#ccc 1px dotted ; padding :0 15px;}
.main_statistic_widget .item span {display:block; text-align:center;}
.main_statistic_widget .item span.title { text-shadow:0 1px 0 #fff;}
.main_statistic_widget .item span.value { font-size:14px; font-weight:bold;}
.main_statistic_widget div:last-child{ border-right:none ;}

/* Page 
----------------------------------------------------------------------------------------------------*/
.pageHeading .headingTitle h1 {font-weight: normal; font-size:18px;}

