/* Global Misc */
.horline { height:1px; background:#E4E4E4;}
.button { border:1px solid #c1c1c1; background-color:#e4e4e4; color:#7b7979; text-shadow:0 1px 0 #fff; padding:5px 10px;-moz-border-radius:3px; border-radius:3px; cursor:pointer}
.button:hover { background-color: #ECECEC;}
.save-button-Ui { background:url(../img/icon/boxdownload32_16px.png) 5px no-repeat #e4e4e4; padding-left:25px;}
.cancel-button-Ui { background:url(../img/icon/stop32_16px.png) 5px no-repeat #e4e4e4; padding-left:25px;}
.add-button-Ui {background:url(../img/icon/plus32_16px.png) 5px no-repeat #e4e4e4; padding-left:25px;}
.min-button-Ui{ background:url(../img/icon/minus32_16px.png) 5px no-repeat #e4e4e4; padding-left:25px;}
.newslett-button-Ui{ background:url(../img/icon/mailplus32_16px.png) 5px no-repeat #e4e4e4; padding-left:25px;}
.act { display:inline-table; width:10px; height:10px; margin-right:5px; background:no-repeat center center;}
.view { background-image:url(../img/icon/light/document-text.gif)}
.view:hover { background-image:url(../img/icon/dark/document-text.gif)}
.del { background-image:url(../img/icon/light/x.gif)}
.del:hover { background-image:url(../img/icon/dark/x.gif)}
.edit { background:url(../img/icon/light/pencil.gif)}
.edit:hover { background:url(../img/icon/dark/pencil.gif)}

/** AJX Stle **/
.ajax_loader_small { background:url(../img/ajax_loader_small.gif) center no-repeat; width:16px; height:16px;}
.ajax_loader_big { background:url(../img/ajax_loader_big.gif) center no-repeat; width:16px; height:16px;}


/* Typo
----------------------------------------------------------------------------------------------------*/
body { color: #7b7979;}
a { color:#666666;}
a:hover { color:#999999;}
	.text_center { text-align:center;}
.text_right { text-align:right;}


/* Form
----------------------------------------------------------------------------------------------------*/
/* Form Reset */
input[type=text], input[type=password], textarea { border:#b2b2b2 1px solid; color: #7b7979; padding:3px; -moz-border-radius:2px; border-radius:2px;}
select { border:#b2b2b2 1px solid; color: #7b7979; padding:2px; -moz-border-radius:2px; border-radius:2px;}
.form-Ui input[type=text], .form-Ui input[type=password], .form-Ui textarea { width:100%;}
/* form-Ui set **/
.form-Ui .formName { margin-bottom:0px; border-bottom:1px solid #b2b2b2; margin-bottom:10px;}
.form-Ui .inputSet { margin-bottom:5px;}
.form-Ui .inputSet input[type=text], .form-Ui .inputSet input[type=password], .form-Ui .inputSet textarea { width:100%;}
.form-Ui .inputSet .label { width:30%; float:left; padding-top:5px;}
.form-Ui .inputSet .input { width:70%; float:left;}


/* TAB-UI
----------------------------------------------------------------------------------------------------*/
.tab-Ui {}
.tab-Ui .nav { border-bottom:1px solid #e4e4e4; margin-bottom:15px;}
.tab-Ui .nav .item { background:#e4e4e4; float:left; padding:5px 10px; margin-right:5px; border:1px solid #e4e4e4; border-bottom:none; cursor:pointer;color: #7b7979; text-shadow:0px 1px 0px #fff;-moz-border-radius-topleft:3px; -moz-border-radius-topright:3px;border-radius-topleft:3px; border-radius-topright:3px; }
.tab-Ui .nav .item:hover { background:#d9d7d7;}
.tab-Ui .nav .actv, .tab-Ui .nav .actv:hover { background:#FFFFFF; z-index:2; border-bottom:#FFFFFF 1px solid !important; margin-bottom:-1px;}
.tab-Ui .comp {}
.tab-Ui .comp .item {}

/* TABLE UI
----------------------------------------------------------------------------------------------------*/
.table-Ui {}
.table-Ui table { width:100%; margin-bottom:0px;}
.table-Ui table tr td { padding:5px;}
.table-Ui table thead { border-bottom:#7b7979 1px solid;}
.table-Ui table thead tr td { border:1px solid #fff; border-top: none; border-bottom:none; background: #7b7979; color:#FFFFFF; text-align: center;}
.table-Ui table tbody tr:nth-child(2n) { background:#E4E4E4;}
.table-Ui table tbody { border-bottom:1px solid #7b7979}
.table-Ui table tbody .act { display:inline-table; margin-right:5px;}
.table-Ui table tbody td.action { text-align: center;}
.table-Ui .horline { height:2px !important; background:#c1c1c1;}
.table-Ui .pagination { font-size:11px; margin-top:5px;}
.table-Ui .pagination ul { margin:0; padding:0;}
.table-Ui .pagination ul li { list-style: none; float:left; margin:0px; margin-right:5px;}
.table-Ui .pagination ul li a { display:block; padding:2px 5px; border:1px solid #E4E4E4;}
.table-Ui .pagination ul li a:hover { border:1px solid #7b7979; color:#7b7979;}

/* Message UI
----------------------------------------------------------------------------------------------------*/
.msg-Ui { position:fixed; width:960px;}
.msg-Ui .msg-item {padding:5px 5px 5px 50px;margin:0 auto 10px auto;position:relative;min-height:20px;-moz-border-radius:3px; border-radius:3px; max-width:400px; }
.msg-Ui .msg-item p { margin-bottom:0px;}
.msg-Ui .msg-item .close { position:absolute; display:block; width:16px; height:16px;right:-5px; top:-5px; background:url(../img/icon/stop32_16px.png) center center no-repeat; cursor:pointer; opacity:0.5;}
.msg-Ui .msg-item .close:hover{ opacity:1;}
.msg-Ui .information { background:#c7e3ff url(../img/infomation_msg_bg.png) 10px center no-repeat; border:#c8d5e3 2px solid;}
.msg-Ui .success { background:#d0ffc7 url(../img/success_msg_bg.png) 10px center no-repeat; border:#cfebca 2px solid;}
.msg-Ui .warning { background:#feffc7 url(../img/warning_msg_bg.png) 10px center no-repeat;; border:#f1f0c9 2px solid; }
/*Hack For jQuery-ui Dialog*/
.msg-Ui .ui-dialog-titlebar { padding-left:50px !important; background-position: 10px center; background-repeat: no-repeat;}
.ui-dialog .warning { background-image: url(../img/warning_msg_bg.png);}
/** Socio icon 
----------------------------------------------------------------------------------------------------*/
.socioIcon { width:26px; height:26px;}
.facebook { background:url(../../../gen_img/socio_icon.png) top right no-repeat;}
.twitter { background:url(../../../gen_img/socio_icon.png) top left no-repeat;}
.facebook:hover { background-position:bottom right;}
.twitter:hover { background-position:bottom left;}

/** Data Row Set Tablless
------------------------------------------------------------------------------------------------------*/
.data_rowSet {
	border-bottom: 1px solid ;
	border-color: #e2e6ea;
	padding: 3px 0px;
}
.data_rowSet .label{
	width:35%;
	float: left;
}
.data_rowSet .data {
	width: 63%;
	float: right;
}

/*  MISC
----------------------------------------------------------------------------------------------------*/
.noBold { font-weight:normal !important}